.switch {
  width: 120px;
  height: 52px;

  background: var(--primaryAccentColor); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--primaryMainColor),
    var(--primaryAccentColor)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--primaryMainColor),
    var(--primaryAccentColor)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  justify-content: flex-start;
  border-radius: 40px;
  padding: 1px;
  cursor: pointer;
  position: relative;
}

.switch path {
  fill: var(--primaryMainColor);
}

.switch--light path {
  fill: var(--primaryMainColor);
}

.switch--light {
  background: var(--primaryAccentColor); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--primaryMainColor),
    var(--primaryAccentColor)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--primaryMainColor),
    var(--primaryAccentColor)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  justify-content: flex-end;
}

.handle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.sun-moon-image {
  background: white;
  border-radius: 50%;
  padding: 2px;
  transition: background-color 0.25s ease-in-out;
}
